@font-face {
    font-family: 'Equip';
    src: url('Equip.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu.ttf');
}

@font-face {
    font-family: sinkinSans;
    src: url(./font/SinkinSans-300Light.otf);
    font-weight: light;
}