@font-face {
    font-family: 'Equip';
    src: url('./fonts/Equip.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu.ttf');
}

@font-face {
    font-family: sinkinSans;
    src: url(./fonts/SinkinSans-300Light.otf);
    font-weight: light;
}
