h1 {
    font-family: Equip;
    font-size: 40px;
    text-align: center;
    background: #333;
    width: 100%;
}

a {
	text-decoration: none;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: #fff;
    text-decoration: none;
}

p {
    font-family: Ubuntu;
    color: #fff;

}

table {
	width: 100%;
}

td {
	border-bottom: solid 5px #0dc4e0;
}

.container-main {
    width: 100%
}

.left {
    margin: 3%;
    padding: 2%;
    width: 90%;
    background: #333;
    border-left: solid 5px #0dc4e0;
}

.right {
    margin: 3%;
    padding: 2%;
    width: 90%;
    background: #333;
    border-left: solid 5px #0dc4e0;
}

#menuicon { 
    position: absolute;
    right: 0%;
    padding: 7px;
    z-index: 1;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51,0.92);
    /*background: #333;
    opacity: 0.9;*/
}

#overlay li {
    border-left: solid 0px #0dc4e0;
    text-align: left;
    padding-left: 5%;
}

#overlay ul {
	border-left: solid 2px #fff;
	border-top: solid 2px #fff;	
    display: none;
}

#menu {
    height: 50%;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 25%;
    color: white;
    font-family: Equip;
    font-size: 150%;
    line-height: 3;
    text-align: center;
}

#menu a {
    color: white;
    text-decoration: none;
}

/* TEST CSS START */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

/* TEST CSS END */

@media screen and (min-width: 481px)  {
    .left {
        margin: 2% 0 0 2%;
        width: 57%;
        float: left;
        background: #333;
    }
    .right {
        margin: 2% 2% 0 0;
        width: 27%;
        float: right;
        background: #333;
    }
}

@media screen and (min-width: 1025px) {
    #content {
        width: 1024px;
        margin: auto;
    }
}